@import "variables.sass"
@import "mixins.sass"
@import "functions.sass"

@import "blocks/btn.sass"
@import "blocks/page-header.sass"
@import "blocks/page-main.sass"
@import "blocks/page-footer.sass"
@import "blocks/main-nav.sass"
@import "blocks/promo-goods.sass"
@import "blocks/goods-stats.sass"
@import "blocks/advantages.sass"
@import "blocks/reviews.sass"
@import "blocks/contacts.sass"
@import "blocks/contacts-information.sass"
@import "blocks/catalog.sass"
@import "blocks/product.sass"
@import "blocks/order-form.sass"
@import "blocks/details.sass"
@import "blocks/social-links.sass"


// в какой файл запихнуть эти стили?
body
  font-size: 17px
  line-height: 24px
  font-family: Open Sans, sans-serif
  color: #444444
  font-style: normal
  min-width: 320px
  margin: 0
  padding: 0

img
  max-width: 100%
  height: auto

// обязательно ли мне этот класс? (мне проще display: none)
.visually-hidden
  position: absolute
  overflow: hidden
  clip: rect(0 0 0 0)
  height: 1px
  width: 1px
  margin: -1px
  padding: 0
  border: 0
