.details
  border: 1px solid mishka-color('decorative-line')
  padding-bottom: 32px
  margin-bottom: 58px
  display: flex
  flex-direction: column
  &__headline
    padding-top: 23px
    padding-left: 89px
    margin-bottom: 24px
  &__title
    font-weight: bold
    font-size: 17px
    line-height: 24px
    margin: 0
    color: mishka-color('text-dark', $text-colors)
  &__video
    overflow: hidden
    background-color: mishka-color('background-primary')
    width: 100%
    height: 150px
    box-sizing: border-box
    margin-bottom: 27px
    position: relative
  &__desc
    font-size: 13px
    line-height: 24px
    margin: 0
    margin-bottom: 28px
    overflow: hidden
    height: 117px
  &__main
    box-sizing: border-box
    padding-left: 33px
    padding-right: 33px
  &__btn
    padding-left: 23px
    text-decoration: none
  &__button-play
    span
      text-indent: -100000px
      display: block
    position: absolute
    background-image: url('../img/icon-play.svg')
    background-repeat: no-repeat
    background-size: cover
    width: 102px
    height: 78px
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
    cursor: pointer
    &:hover
      width: 124px
      height: 93px
    &:active
      width: 81px
      height: 62px
      opacity: 0.6

@media (min-width: $tablet-width)
  .details
    margin-top: 53px
    padding-bottom: 45px
    margin-bottom: 63px
    &__video
      order: 1
      height: 455px
      margin-bottom: 15px
    &__video-img
      height: 455px
      width: 668px
    &__title
      font-size: 20px
    &__desc
      font-size: 15px
      line-height: 30px
      margin-bottom: 35px
      height: 60px
    &__headline
      order: 2
      padding-left: 105px
      margin-bottom: 32px
    &__main
      order: 3
      padding-left: 40px
      padding-right: 40px
    &__btn
      padding-left: 220px
      padding-right: 218px

@media (min-width: $desktop-width)
  .details
    flex-direction: column
    height: 455px
    flex-wrap: wrap
    width: 100%
    margin-top: 0
    align-items: flex-start
    padding-bottom: 0
    box-sizing: border-box
    margin-bottom: 105px
    &__video
      height: 455px
      width: 682px
      margin-bottom: 0
    &__video-img
      height: 455px
      width: 682px
    &__btn
      display: inline-block
      padding-left: 44px
      padding-right: 45px
    &__main
      padding-left: 40px
      padding-right: 0
      width: 28%
    &__headline
      padding-left: 40px
      margin-top: 72px
      width: 22%
    &__desc
      margin-bottom: 47px
      height: 119px
