.page-footer
  background-color: mishka-color('background-secondary')
  padding-top: 26px
  &__container
    @include container()
    display: flex
    flex-direction: column
  &__logo
    display: none
  &__social
     border-bottom: 1px solid #e5e5e5
     padding-bottom: 27px
  &__copyright
    margin: 0 auto
    margin-top: 20px
    margin-bottom: 23px
    text-decoration: none
    display: flex
    align-items: center
    span
    font-size: 19px
    line-height: 18px
    color: mishka-color('text-dark', $text-colors)
    font-weight: bold
    letter-spacing: 0.5px
  &__htmlacademy-logo
    margin-left: 18px

@media (min-width: $tablet-width)
  .page-footer
    padding-top: 50px
    padding-bottom: 58px
    &__container
      flex-direction: row
      justify-content: space-between
      align-items: center
    &__social
      border-bottom: none
      padding-bottom: 0
    &__logo
      display: inline-block
      width: 102px
      height: 34px
      img
        width: inherit
    &__copyright
      margin: 0
    &__htmlacademy-logo
      margin-left: 25px
// @media (min-width: $desktop-width)
