.social-links
  list-style-type: none
  margin: 0
  padding: 0
  display: flex
  justify-content: center
  &__item
    &:not(:last-of-type)
      margin-right: 40px
    a
      text-decoration: none
      text-indent: -100000px
      display: inline-block
      width: 22px
      height: 29px
      background-color: red
