.social-links
  list-style-type: none
  margin: 0
  padding: 0
  display: flex
  justify-content: center
  &__item
    &:not(:last-of-type)
      margin-right: 40px
    a
      text-decoration: none
      display: inline-block
    svg
      display: inline-block
      vertical-align: middle
    &--insta
      a
        width: 22px
        height: 22px
    &--twitter
      a
        width: 24px
        height: 20px
    &--fb
      a
        width: 15px
        height: 28px
  &__icon-insta
    fill: mishka-color('text-dark', $text-colors)
